<div>
  <form #contactForm="ngForm" (ngSubmit)="addContact()" novalidate>
    <input
      placeholder="Enter Contact name"
      [(ngModel)]="newContactName"
      name="contactName"
      required>
    <input
      placeholder="Phone Number"
      [(ngModel)]="newContactPhone"
      name="contactPhone"
      required>
    <input
      placeholder="Email"
      [(ngModel)]="newContactEmail"
      name="contactEmail"
      required>
    <input
      placeholder="Notes (optional)"
      [(ngModel)]="newContactNotes"
      name="contactNotes">
    <button
      type="submit"
      [disabled]="contactForm.invalid">
      Add Contact
    </button>
  </form>
</div>
